In [2]:
import json
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict

In [3]:
data = []
for file in range(15):
    data.append(open('../Tweet-Data/digital_twin_tweets-'+str(2006+file)+'.jl'))

In [4]:
doc = []
for file in data:
    for line in file:
        doc.append(json.loads(line))

In [5]:
len(doc)

909

In [6]:
type(doc[1])

dict

In [7]:
doc[1].keys()

dict_keys(['http_status', 'year', 'params', 'response'])

In [8]:
doc[1]['response']['data']

[{'public_metrics': {'retweet_count': 0,
   'reply_count': 0,
   'like_count': 0,
   'quote_count': 0},
  'possibly_sensitive': False,
  'lang': 'en',
  'conversation_id': '196991032',
  'author_id': '5544032',
  'reply_settings': 'everyone',
  'entities': {'annotations': [{'start': 0,
     'end': 4,
     'probability': 0.4497,
     'type': 'Organization',
     'normalized_text': 'Bajaj'},
    {'start': 42,
     'end': 51,
     'probability': 0.4462,
     'type': 'Product',
     'normalized_text': 'Bajaj Auto'}]},
  'source': 'Twitter Web Client',
  'text': 'Bajaj has a new growth engine, literally: Bajaj Auto, unveiled a new engine platform, digital twin spar.. http://tinyurl.com/226b89',
  'id': '196991032',
  'created_at': '2007-08-09T22:13:01.000Z'},
 {'public_metrics': {'retweet_count': 0,
   'reply_count': 0,
   'like_count': 0,
   'quote_count': 0},
  'possibly_sensitive': False,
  'lang': 'tl',
  'conversation_id': '195910282',
  'author_id': '5544032',
  'reply_settings': 'everyone',
  'source': 'Twitter Web Client',
  'text': "Bajaj Auto's DTS-Si engine offers 109km/l: Bajaj on Thursday launched 'Digital Twin Spark-Swirl inducti.. http://tinyurl.com/3dcbuy",
  'id': '195910282',
  'created_at': '2007-08-09T11:12:34.000Z'}]

In [9]:
emptyList = []
for dict in doc:
    emptyList.append(dict['response'])

In [10]:
len(emptyList)

909

In [11]:
doc[0]['response'].keys()

dict_keys(['meta'])

In [12]:
def check(dictionary):
    if dictionary['result_count'] == 0: return False
    else: return True

In [13]:
emptyData = []
for dict in emptyList:
    if check(dict['meta']): emptyData.append(dict['data'])

In [14]:
len(emptyData)

908

In [15]:
type(emptyData)

list

In [16]:
pd.DataFrame(emptyData[3])

,text,conversation_id,created_at,author_id,lang,id,source,public_metrics,reply_settings,entities,possibly_sensitive,referenced_tweets,in_reply_to_user_id
0,Find Your Digital Twin on Facebook: If novelty...,6315780112,2009-12-03T21:35:26.000Z,18248248,en,6315780112,twitterfeed,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,"{'annotations': [{'start': 26, 'end': 33, 'pro...",False,NaN,NaN
1,Reading: Find Your Digital Twin on Facebook: I...,6315765231,2009-12-03T21:34:53.000Z,11029722,en,6315765231,twitterfeed,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,"{'annotations': [{'start': 35, 'end': 42, 'pro...",False,NaN,NaN
2,RT @Civrock: Find Your Digital Twin on Faceboo...,6315763272,2009-12-03T21:34:49.000Z,85275659,en,6315763272,Twitter Web Client,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",everyone,"{'annotations': [{'start': 39, 'end': 46, 'pro...",False,"[{'type': 'retweeted', 'id': '6315134524'}]",NaN
3,Anyone else think this is creepy? RT @mashable...,6315762162,2009-12-03T21:34:46.000Z,59682118,en,6315762162,TweetMeme,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,"{'annotations': [{'start': 73, 'end': 80, 'pro...",False,NaN,NaN
4,@KIRO7Seattle today @jennihogan is my digital ...,6315705239,2009-12-03T21:34:21.000Z,17566614,en,6315750888,Twitter Web Client,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,"{'mentions': [{'start': 0, 'end': 13, 'usernam...",False,"[{'type': 'replied_to', 'id': '6315705239'}]",21116401
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,@eddieizzard what's it like having a digital t...,1360098235,2009-03-20T13:29:03.000Z,19819153,en,1360175352,Twitter Web Client,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,"{'mentions': [{'start': 0, 'end': 12, 'usernam...",False,"[{'type': 'replied_to', 'id': '1360098235'}]",24447643
178,@tchrischan @mmillonida I just saw the commers...,1282107850,2009-03-05T05:13:34.000Z,14620646,en,1282107850,Twitter Web Client,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,"{'annotations': [{'start': 52, 'end': 54, 'pro...",False,NaN,14260862
179,@theexperthand The new Platina has Digital Twi...,1175802137,2009-02-04T10:07:55.000Z,16508889,en,1175854564,Twitter Web Client,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,"{'annotations': [{'start': 23, 'end': 52, 'pro...",False,"[{'type': 'replied_to', 'id': '1175802137'}]",5548782
180,"What about the term ""Identity Hostage?"" Does t...",1162413627,2009-01-30T18:28:33.000Z,19568570,en,1162413627,Twitter Web Client,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,NaN,False,NaN,NaN
181,@danielbachhuber Okay so once we develop semi-...,1148048666,2009-01-26T02:37:50.000Z,14058100,en,1148062275,Twitter Web Client,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",everyone,"{'mentions': [{'start': 0, 'end': 16, 'usernam...",False,"[{'type': 'replied_to', 'id': '1148048666'}]",3225991

In [17]:
df = pd.DataFrame(emptyData[0])

In [18]:
for obj in range(1,len(emptyData)):
    df = df.append(pd.DataFrame(emptyData[obj]))
    #    pd.concat(df, pd.DataFrame(obj))

In [19]:
df.shape

(431406, 17)

In [20]:
df.head()

,public_metrics,possibly_sensitive,lang,conversation_id,author_id,reply_settings,entities,source,text,id,created_at,referenced_tweets,in_reply_to_user_id,geo,attachments,context_annotations,withheld
0,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",False,en,196991032,5544032,everyone,"{'annotations': [{'start': 0, 'end': 4, 'proba...",Twitter Web Client,"Bajaj has a new growth engine, literally: Baja...",196991032,2007-08-09T22:13:01.000Z,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",False,tl,195910282,5544032,everyone,NaN,Twitter Web Client,Bajaj Auto's DTS-Si engine offers 109km/l: Baj...,195910282,2007-08-09T11:12:34.000Z,NaN,NaN,NaN,NaN,NaN,NaN
0,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",False,en,1062939250,17278675,everyone,NaN,Twitter Web Client,Twin Cities TV viewers: Get ready for digital ...,1062939250,2008-12-17T15:35:56.000Z,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",False,en,1061242451,13001192,everyone,NaN,Twitter Web Client,Twin Cities TV viewers: Get ready for digital ...,1061242451,2008-12-16T19:31:41.000Z,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",False,en,1001144234,14263808,everyone,"{'mentions': [{'start': 0, 'end': 10, 'usernam...",Twitter Web Client,@mitchjoel I would agree and add that products...,1008571783,2008-11-16T20:04:21.000Z,"[{'type': 'replied_to', 'id': '1001144234'}]",792907,NaN,NaN,NaN,NaN

In [21]:
df_clean = df

In [22]:
len(df_clean)

431406

In [23]:
df_clean.to_pickle("../dummy.pkl")

In [24]:
df_clean = pd.read_pickle("../dummy.pkl")

In [25]:
df_clean = df_clean[['lang','author_id','source','text', 'created_at']]

In [26]:
def isRT(text):
        if text.startswith("RT"): return "True"
        else: return "False"

In [27]:
df_clean['is_RT'] = df_clean1['text'].map(isRT)

NameError: name 'df_clean1' is not defined

In [ ]:
df_clean = df_clean[df_clean['is_RT']=="False"]

In [ ]:
df_clean.shape

In [ ]:
import seaborn as sns

In [ ]:
sns.countplot(df_clean['lang'])

In [ ]:
df_lang = df_clean.copy()
df_lang = df_lang.groupby('lang').agg({'lang':'count'})
df_lang.sort_values(by="lang")

In [ ]:
def tocsv(datframe):
    dataframe.to_csv()

In [ ]:
df_clean = df_clean[(df_clean['lang'] == "en")]

In [ ]:
df_clean = df_clean.drop(['is_RT'], axis=1)

In [ ]:
df_clean.nunique()

In [ ]:
def createdAt(date):
    return date.split('-')[:1][0]

In [ ]:
df_clean['year'] = df_clean.created_at.map(createdAt)
df_clean.head()

In [ ]:
df_clean = df_clean.drop(columns=['created_at', 'lang'], axis=1)

In [ ]:
df_clean.head()

In [ ]:
df_clean['hashtag'] = df_clean['text'].apply(lambda x: re.findall(r"#(\w+)", x))

### Clean Text

In [ ]:
text = df_clean['text']

In [ ]:
len(text)

In [ ]:
text.nunique()

In [ ]:
text = text.tolist()

In [ ]:
import preprocessor as p#forming a separate feature for cleaned tweets
for i,v in enumerate(text):
    text[i] = p.clean(v)

text[:10]

In [ ]:
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
wordcloud = WordCloud(
    width = 3000,
    height = 2000,
    background_color = 'black',
    stopwords = STOPWORDS).generate(str(text))
fig = plt.figure(
    figsize = (40, 30),
    facecolor = 'k',
    edgecolor = 'k')
plt.imshow(wordcloud, interpolation = 'bilinear')
plt.axis('off')
plt.tight_layout(pad=0)
plt.show()

In [ ]:
def preprocess_text(text):